{% extends 'base.html.twig' %}
{% block title %}
Book Form
{% endblock %}
{% block body %}
{% include 'navbar.admin.html.twig' %}
<div class="container">
    <h2 class="mt-4 mb-4">Assign books to products</h2>
    <form action="{{ path('book-create') }}" method="POST" style="max-width: 50vw" class="d-block mx-auto">
        <div class="form-group">
            <label for="productSelect">Select product</label>
            <select class="form-control" id="productSelect" name="productSelect">
                {% for product in products %}
                <option value="{{product.id}}">{{product.name}}</option>
                {% endfor %}
            </select>
        </div>
        {% for book in books %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="books[]" value="{{book.book.id}}" id="book{{loop.index}}">
            <label class="form-check-label" for="book{{loop.index}}">
                {{book.book.title}}
            </label>
        </div>
        {% endfor %}
        <input type="hidden" name="json" value='{{books|json_encode}}'>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}