{% extends 'base.html.twig' %}
{% block title %}
Upload your Story
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $('#customFile').on('change', function () {
        var fileName = $(this).val();
        $('#file-name').text('You selected ' + fileName.replace(/^.*\\/, ""));
    });
</script>
{% endblock %}
{% block body %}
{% include 'navbar.html.twig' %}
<div class="container">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="my-library-tab" data-toggle="tab" href="#my-library" role="tab"
                aria-controls="my-library" aria-selected="true">My Library</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="upload-tab" data-toggle="tab" href="#upload" role="tab"
                aria-controls="upload" aria-selected="false">Upload Content</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" id="account-details-tab" data-toggle="tab" href="#account-details" role="tab"
                aria-controls="account-details" aria-selected="false">Account Details / Subscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="referral-tab" data-toggle="tab" href="#referral" role="tab" aria-controls="referral"
                aria-selected="false">Refer a Friend / Gift Story of the Season</a>
        </li> -->
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane mt-4 fade" id="my-library" role="tabpanel" aria-labelledby="my-library-tab">
            <h3 class="text-center">My Library</h3>
            {% if library == null or library|length == 0%}
            <p>You have no uploaded content.</p>
            {% else %}
            {% for item in library %}
            <div class="card-columns">
                <div class="card mb-1">
                    <img src="/uploads/{{item.file}}" class="card-img-top" alt="{{item.name}}">
                    <div class="card-body">
                      <h5 class="card-title">{{item.name}}</h5>
                      <p class="card-text">{{item.caption}}</p>
                      <p class="card-text"><small class="text-muted">Taken {{item.date|date("F j, Y, g:i a")}}</small></p>
                    </div>
                  </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="tab-pane mt-4 fade show active" id="upload" role="tabpanel" aria-labelledby="upload-tab">
            <h3 class="text-center mb-2">Upload Content</h3>
            <form action="{{ path('upload-submit') }}" method="POST" enctype="multipart/form-data"
                onsubmit="document.getElementById('tz').value=Intl.DateTimeFormat().resolvedOptions().timeZone">
                <div class="form-row">
                    <div class="col form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="file">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <p id="file-name" class="text-muted"></p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="name">Name of content</label>
                        <input type="text" class="form-control" placeholder="Name" id="name" name="name">
                    </div>
                    <div class="col form-group">
                        <label for="caption">Caption / context</label>
                        <input type="text" class="form-control" placeholder="Caption / context" id="caption"
                            name="caption">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="date">Date taken</label>
                        <input type="text" class="form-control" placeholder="Date" id="date" name="date">
                    </div>
                    <div class="col form-group">
                        <label for="location">Location taken</label>
                        <input type="text" class="form-control" placeholder="Location" id="location" name="location">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="tags">Tags</label>
                        <input type="text" class="form-control" placeholder="Tags" id="tags" name="tags">
                    </div>
                    <div class="col form-group">
                        <label for="message">Other info / message</label>
                        <input type="text" class="form-control" placeholder="Message" id="message" name="message">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="terms" name="terms">
                            <label class="custom-control-label" for="terms">Waiver allowing storyIt to use
                                content/waiver of liability</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <input type="hidden" name="tz" value="" id="tz">
                        <input type="hidden" name="user_id" value="{{user}}">
                        <button id="upload-btn" type="submit" class="btn btn-outline-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="tab-pane mt-4 fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
            <h3 class="text-center">Account Details</h3>
        </div>
        <div class="tab-pane mt-4 fade" id="referral" role="tabpanel" aria-labelledby="referral-tab">
            <p>something else</p>
        </div> -->
    </div>
</div>
{% endblock %}