{% extends 'base.html.twig' %}
{% block title %}
    Upload your Story
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#bookModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.data('url');
            var title = button.data('title');
            var modal = $(this);
            modal.find('.modal-title').text(title);
            modal.find('.modal-body iframe').attr('src', url);
        });
    </script>
{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src=""></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom: 15rem;min-height:80vh">
        {% if library|length > 0 %}
            <div class="row">
                {% set title = '' %}
                {% for book in library %}
                    {% if title != book.product.name %}
                        <h3 class="mb-3 w-100">{{book.product.name}}</h3>
                        {% set title = book.product.name %}
                    {% endif %}
                    <div class="col-12 col-md-4">

                        <div class="card mb-1">
                            <img src="/uploads/{{book.image}}" class="card-img-top" alt="{{book.title}}">
                            <div class="card-body">
                                <h5 class="card-title">{{book.title}}</h5>
                                <p class="card-text">
                                    <button data-title="{{book.title}}" data-url="{{book.url}}" type="button" class="btn btn-primary d-none d-sm-block" data-toggle="modal" data-target="#bookModal">
                                        Open
                                    </button>
                                    <a href="{{book.url}}" target="_blank" class="btn btn-primary d-block d-sm-none">Open</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">You have no purchases.</p>
        {% endif %}
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}
